{% load static %}
<html>
  <head>
    <title>Ecommerce</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div class="navbar">
      <div class="search">
        <input type="search" placeholder="Search" />
        <button type="button">Search</button>
      </div>
      <div class="option">
        <a
          href="{% url 'home' %}"
          style="text-decoration: none; font-size: 20px"
          ><div>Home</div></a
        >{% if user.is_authenticated%}{% if user.is_superuser %}<a
          href="{% url 'add-product' %}"
          style="text-decoration: none; font-size: 20px"
          ><div>Add product</div></a
        ><a
          href="{% url 'logout' %}"
          style="text-decoration: none; font-size: 20px"
          ><div>logout</div></a
        >
        {% else %}
        <a style="text-decoration: none; font-size: 20px"><div>Cart</div></a>
        <a
          href="{% url 'logout' %}"
          style="text-decoration: none; font-size: 20px"
          ><div>logout</div></a
        >
        {% endif %} {% else %}
        <a
          href="{% url 'login'  %}"
          style="text-decoration: none; font-size: 20px"
          ><div>Login</div></a
        >
        <a
          href="{% url 'signup' %}"
          style="text-decoration: none; font-size: 20px"
          ><div>Signup</div></a
        >
        {% endif %}
      </div>
    </div>
    {% if messages %} {% for message in messages %}
    <div class="message"><h3>{{message}}</h3></div>
    {% endfor %} {% endif %} {% block content %}{%endblock%}
  </body>
</html>
