{% extends 'include.html' %}{%load static%} {% block content %}
<div class="login-form" style="margin-top: 25px">
  <form method="POST">
    {% csrf_token %}
    <div class="title"><h1>Register</h1></div>
    <div class="username">
      <input type="text" name="username" placeholder="Enter Username" />
    </div>
    <div class="email">
      <input type="email" name="email" placeholder="Enter Email" />
    </div>
    <div class="contact">
      <input type="number" name="contact" placeholder="Enter Contact number" />
    </div>
    <div class="password1">
      <input type="password" name="password1" placeholder="Enter Password" />
    </div>
    <div class="password2">
      <input type="password" name="password2" placeholder="Confirm Password" />
    </div>
    <div class="submit">
      <button type="submit">Sign up</button>
    </div>
  </form>
</div>
{% endblock content %}
