{% extends 'include.html' %} {% block content %}
<div class="products">
  <h1 style="margin-left: 10%">Products</h1>
  <div class="productlist">
    {% for product in products %}
    <div class="produsts">
      <a
        href="{% url 'product' product.id %}"
        style="text-decoration: none; color: black; cursor: pointer"
      >
        <img
          class="product-image"
          src="{{product.product_img.url}}"
          alt="product"
        />
      </a>
      <p class="product-title">{{ product.product_name }}</p>
      <p class="product-price">Rs. {{product.price}}</p>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
